#breed-filters {
    background: linear-gradient(rgba(168, 208, 230, 0.253), rgba(168, 208, 230, 0.233));
}

#breed-filters .narrow-wrapper {
    display: flex;
    padding: 10px 3rem 0 3rem;
    margin-bottom: 40px;
}

.checkbox-filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 10px 0 30px 0;

    .checkbox-container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin: 0 0 20px 100px;
        margin-right: calc(50%-30px);
        background: rgb(160, 160, 160);
        box-shadow: 0px 1px 1px rgba(0,0,0,0.5);

        input[type=checkbox] {
            transform: scale(2);
            visibility: hidden;
            &:checked + label {
                background: $accent-color;
            }
        }
    
        label {
            display: block;
            border-radius: 100px;
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 1;
            width: 10px;
            height: 10px;
            transition: all .5s ease;
            cursor: pointer;
            font-size: 1.7rem;
            background: rgb(160, 160, 160);
            box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);

            span {
                position: absolute;
                top: -2px;
                left: 45px;
                width: 250px;
            }
        }
    }
}

.select-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    .select-container  {
        margin-bottom: 15px;

        label {
            display: block;
            font-size: 1.5rem;
            margin-bottom: 3px;
        }

        select {
            font-size: 1.5rem;
            background: rgba(36, 48, 94, 0.822); 
            color: white;
            border: none;
            padding: 5px;
            border-radius: 7px;
        }
    }        
}





