html {
    font-size: 62.5%;
}


.wrapper {
    max-width: 1600px;
    width: 100%;
}

.narrow-wrapper {
    width: 80%;
    margin: 0 auto;
}

// main {
//     background: linear-gradient(rgba(201, 223, 235, 0.034), rgba(206, 225, 235, 0.733));
// }