header {
    background-color: $primary-color;
    color: $light-color;
    font-family: $accent-font;
    font-size: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .svg-container {
        width: 7%;
        img {
            width: 100%;
            color: $light-color;
            margin: 0;
        }
    }
    .logo-container {
        h1 {
            margin: 0;
        }
    }

}