/*GENERAL STYLING*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1600px;
  width: 100%; }

.narrow-wrapper {
  width: 80%;
  margin: 0 auto; }

header {
  background-color: #24305E;
  color: #f6f6f6;
  font-family: "Cabin Sketch", cursive;
  font-size: 2rem; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .svg-container {
    width: 8%; }
    .header .svg-container img {
      width: 100%;
      margin: 0; }
  .header .logo-container h1 {
    margin: 0; }

#breed-filters {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(168, 208, 230, 0.253)), to(rgba(168, 208, 230, 0.233)));
  background: -webkit-linear-gradient(rgba(168, 208, 230, 0.253), rgba(168, 208, 230, 0.233));
  background: -o-linear-gradient(rgba(168, 208, 230, 0.253), rgba(168, 208, 230, 0.233));
  background: linear-gradient(rgba(168, 208, 230, 0.253), rgba(168, 208, 230, 0.233)); }

#breed-filters .narrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 3rem 0 3rem;
  margin-bottom: 40px; }

.checkbox-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 50%;
  margin: 10px 0 30px 0; }
  .checkbox-filters .checkbox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    margin-left: 100px;
    margin-right: calc(50%-30px);
    margin-bottom: 20px;
    background: #a0a0a0;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
    .checkbox-filters .checkbox-container input[type=checkbox] {
      -webkit-transform: scale(2);
      -ms-transform: scale(2);
      transform: scale(2);
      visibility: hidden; }
      .checkbox-filters .checkbox-container input[type=checkbox]:checked + label {
        background: #F76C6C; }
    .checkbox-filters .checkbox-container label {
      display: block;
      border-radius: 100px;
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      cursor: pointer;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 1;
      width: 10px;
      height: 10px;
      font-size: 1.7rem;
      background: #a0a0a0;
      -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5); }
      .checkbox-filters .checkbox-container label span {
        position: absolute;
        top: -2px;
        left: 45px;
        width: 250px; }

.select-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%; }
  .select-filters .select-container {
    margin-bottom: 15px; }
    .select-filters .select-container label {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 3px; }
    .select-filters .select-container select {
      font-size: 1.5rem;
      background: rgba(36, 48, 94, 0.822);
      color: white;
      border: none;
      padding: 5px;
      border-radius: 7px; }

#breed-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.breed-card {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 200px;
  flex: 1 200px;
  max-width: 50%;
  margin: 0 20px;
  margin-bottom: 40px;
  border-radius: 3px; }
  .breed-card .img-container .breed-pic {
    width: 100%; }
  .breed-card .hover-state {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 108, 108, 0.767)), to(rgba(247, 108, 108, 0.767)));
    background: -webkit-linear-gradient(rgba(247, 108, 108, 0.767), rgba(247, 108, 108, 0.767));
    background: -o-linear-gradient(rgba(247, 108, 108, 0.767), rgba(247, 108, 108, 0.767));
    background: linear-gradient(rgba(247, 108, 108, 0.767), rgba(247, 108, 108, 0.767));
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: none; }
    .breed-card .hover-state p {
      font-family: "Cabin Sketch", cursive;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
      font-size: 2.2rem;
      color: white; }

@media (max-width: 900px) {
  #breed-filters .narrow-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .select-filters,
  .checkbox-filters {
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .select-filters {
    margin-bottom: 15px; }
  .checkbox-filters .checkbox-container {
    margin-left: 0px; }
  .breed-card {
    max-width: 90%; } }
