@import 'partials/setup.scss';
@import 'partials/variables.scss';
@import 'partials/general.scss';
@import 'partials/header.scss';
@import 'partials/filters.scss';
@import 'partials/gallery.scss';
@import 'partials/responsiveness.scss';




